@import "images.css";
@import "main.css";
@import "images.css";

body {
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

  /* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #2d4d61;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #965c0c;
}

  /* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

  /* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

  /*when the screen is less than 600px wide*/
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/*Newsletters*/
#newsletter {
    display: block;
    padding: 10px;
    background: #4b2d02;
}

#newsletter h1 {
    display: inline;
    font-size: 23px;
    color: #ffffff;
}

#newsletter form {
    display: inline;
    float: right;
}

#newsletter input[type="email"] {
    /* padding: 4px; */
    height: 30px;
    width: 250px;
    color: #00000f;
    font-style: italic;
    font-family: monospace;
}

.button-1:hover {
    background-color: #965c0c;
}

.news-container {
    width: 80%;
    margin: auto;
}

.news-container button {
    height: 30px;
    background: #2d4d61;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}