* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

/* The grid for the columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* grid image styling */
.column img {
    opacity: 0.8; 
    cursor: pointer; 
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container */
.explore-container {
    position: relative;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
    position: absolute;
    /* top: 10px; */
    right: 51%;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.explore-text p{
    display: inline;
    color: #ffffff;
    padding-left: 10px;
    text-transform: uppercase;
    background-color: rgb(44, 11, 11);
}