.container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    margin: 35px 25px;
    width: 100%;
    padding-right: 50px;

}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300px;
    height: 500px;
    padding-bottom: 5px;
    text-align: center;
    line-height: 25px;
    color: rgb(226, 226, 226);
    /* background-color: #7ac; */
    background-color: #4b2d02;
    text-decoration: none;
    align-content: center;
    border: 1px solid #4b2d02;
    border-radius: 20px;
}

.col-card {
    padding: 5px 5px 5px 5px;
    justify-content: space-evenly;
}

/* display: grid;
    grid-gap: 40px 90px;
    grid-template-columns: 1fr 1fr 1fr; /*300px 300px 300px*/

/*grid-template-rows: auto;
    padding-bottom: 40px;
    width: 300px;
    margin: 75px 75px;
   align-items: center;
   justify-items: center; */

.card-image img {
    /* width: 275px;
    height: 215px; */
    width: 250px;
    height: 250px;
    padding-top: 5px;
    border-radius: 20px;
    transition: transform .2s;
    margin: 0 auto;
}

.card-image img:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

.btn-viewmore {
    background: #225;
    border: 2px solid #114;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    cursor: pointer;
}